@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

body {
  font-feature-settings: "cv01", "ss03";
  font-variation-settings: "opsz" auto;
  letter-spacing: -0.008em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.5px;
}

/* Using colours from the Liveblocks product palette */
@theme {
  --color-fd-background: #fdfcfd;
  --color-fd-foreground: #1a1523;
  --color-fd-muted: #1616180a;
  --color-fd-muted-foreground: #57565d;
  --color-fd-popover: #fdfcfd;
  --color-fd-popover-foreground: #1a1523;
  --color-fd-card: #1616180a;
  --color-fd-card-foreground: blue; /* ? */
  --color-fd-border: #16161813;
  --color-fd-primary: #6651c2;
  --color-fd-primary-foreground: yellow; /* ? */
  --color-fd-secondary: #faf9fa;
  --color-fd-secondary-foreground: red; /* ? */
  --color-fd-accent: #e8e7e9;
  --color-fd-accent-foreground: #161618;
  --color-fd-ring: #6651c2;
}

.dark {
  --color-fd-background: #161618;
  --color-fd-foreground: #edecee;
  --color-fd-muted: #fdfcfd08;
  --color-fd-muted-foreground: #a1a0a7;
  --color-fd-popover: #1d1d20;
  --color-fd-popover-foreground: #edecee;
  --color-fd-card: #fdfcfd08;
  --color-fd-card-foreground: blue; /* ? */
  --color-fd-border: #fdfcfd12;
  --color-fd-primary: #9f8dfc;
  --color-fd-primary-foreground: yellow; /* ? */
  --color-fd-secondary: #1d1d20;
  --color-fd-secondary-foreground: red; /* ? */
  --color-fd-accent: #2e2e33;
  --color-fd-accent-foreground: #fdfcfd;
  --color-fd-ring: #9f8dfc;
}

/* Don't scroll code blocks vertically, show full height */
.max-h-\[600px\] {
  max-height: none;
}

/* Sidebar separator labels (e.g. "Features") */
aside p.inline-flex {
  font-weight: 600;
}
